In [5]:
import pandas as pd

In [ ]:
df = pd.read_csv(".csv")

In [12]:
df

,id,title,original_title,overview,premiere_date,popularity,genre,country_origin,original_language,rating,votes
0,1,Breaking Bad,Breaking Bad,"Walter White, a New Mexico chemistry teacher, ...",2008-01-20,108.7820,"Drama, Crime",United States,English,8.900,16556
1,2,Avatar: The Last Airbender,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",2005-02-21,12.5347,"Animation, Action & Adventure, Sci-Fi & Fantasy",United States,English,8.800,4557
2,3,Arcane,Arcane,Amid the stark discord of twin cities Piltover...,2021-11-06,22.5739,"Animation, Sci-Fi & Fantasy, Drama, Action & A...",United States,English,8.800,5481
3,4,When Life Gives You Tangerines,폭싹 속았수다,"In Jeju, a spirited girl and a steadfast boy's...",2025-03-07,18.5771,Drama,South Korea,Korean,8.751,423
4,5,Frieren: Beyond Journey's End,葬送のフリーレン,Decades after her party defeated the Demon Kin...,2023-09-29,28.3761,"Animation, Action & Adventure, Drama, Sci-Fi &...",Japan,Japanese,8.735,565
...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,The Three Sides of Ana,Tres veces Ana,"Over a road trip, triplets Ana Laura, Ana Leti...",2016-05-23,2.7459,"Soap, Drama",Mexico,Spanish,7.091,328
1996,1997,Power Rangers,Power Rangers,A team of teenagers with attitude are recruite...,1993-08-28,10.9899,"Action & Adventure, Sci-Fi & Fantasy, Kids",United States,English,7.100,812
1997,1998,MasterChef,MasterChef,This hit cooking competition series sees award...,2010-07-27,10.9557,Reality,United States,English,7.090,282
1998,1999,I Am Georgina,Soy Georgina,"Join Georgina Rodríguez — mom, influencer, bus...",2022-01-27,2.6178,Reality,Spain,Spanish,7.100,319
1999,2000,Hemlock Grove,Hemlock Grove,One cannot quench his all-consuming thirst. Th...,2013-04-19,9.5313,"Mystery, Drama",United States,English,7.086,541

In [13]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2000 non-null   int64
 1   title              2000 non-null   object
 2   original_title     2000 non-null   object
 3   overview           1980 non-null   object
 4   premiere_date      2000 non-null   object
 5   popularity         2000 non-null   float64
 6   genre              2000 non-null   object
 7   country_origin     1999 non-null   object
 8   original_language  2000 non-null   object
 9   rating             2000 non-null   float64
 10  votes              2000 non-null   int64
dtypes: float64(2), int64(2), object(7)
memory usage: 172.0+ KB

In [19]:
df.isna().sum()

id                    0
title                 0
original_title        0
overview             20
premiere_date         0
popularity            0
genre                 0
country_origin        0
original_language     0
rating                0
votes                 0
year                  0
dtype: int64

In [15]:
df["premiere_date"] = pd.to_datetime(df["premiere_date"])
df["year"] = df["premiere_date"].dt.year

df["country_origin"] = df["country_origin"].fillna("Unknown")

In [18]:
df

,id,title,original_title,overview,premiere_date,popularity,genre,country_origin,original_language,rating,votes,year
0,1,Breaking Bad,Breaking Bad,"Walter White, a New Mexico chemistry teacher, ...",2008-01-20,108.7820,"Drama, Crime",United States,English,8.900,16556,2008
1,2,Avatar: The Last Airbender,Avatar: The Last Airbender,"In a war-torn world of elemental magic, a youn...",2005-02-21,12.5347,"Animation, Action & Adventure, Sci-Fi & Fantasy",United States,English,8.800,4557,2005
2,3,Arcane,Arcane,Amid the stark discord of twin cities Piltover...,2021-11-06,22.5739,"Animation, Sci-Fi & Fantasy, Drama, Action & A...",United States,English,8.800,5481,2021
3,4,When Life Gives You Tangerines,폭싹 속았수다,"In Jeju, a spirited girl and a steadfast boy's...",2025-03-07,18.5771,Drama,South Korea,Korean,8.751,423,2025
4,5,Frieren: Beyond Journey's End,葬送のフリーレン,Decades after her party defeated the Demon Kin...,2023-09-29,28.3761,"Animation, Action & Adventure, Drama, Sci-Fi &...",Japan,Japanese,8.735,565,2023
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,The Three Sides of Ana,Tres veces Ana,"Over a road trip, triplets Ana Laura, Ana Leti...",2016-05-23,2.7459,"Soap, Drama",Mexico,Spanish,7.091,328,2016
1996,1997,Power Rangers,Power Rangers,A team of teenagers with attitude are recruite...,1993-08-28,10.9899,"Action & Adventure, Sci-Fi & Fantasy, Kids",United States,English,7.100,812,1993
1997,1998,MasterChef,MasterChef,This hit cooking competition series sees award...,2010-07-27,10.9557,Reality,United States,English,7.090,282,2010
1998,1999,I Am Georgina,Soy Georgina,"Join Georgina Rodríguez — mom, influencer, bus...",2022-01-27,2.6178,Reality,Spain,Spanish,7.100,319,2022
1999,2000,Hemlock Grove,Hemlock Grove,One cannot quench his all-consuming thirst. Th...,2013-04-19,9.5313,"Mystery, Drama",United States,English,7.086,541,2013

In [20]:
import seaborn as sns