In [ ]:
import numpy as np
import pandas as pd

##### Handling Categorical Data

In [ ]:
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Green']
})

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['Color'] = df['Color'].astype('category')

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
sizes = pd.Categorical(['S', 'M', 'L', 'S', 'M', 'M', 'S', 'L'], categories=['S', 'M', 'L'], ordered=True)

sizes

In [ ]:
df_grades = pd.DataFrame({'Grade': ['A', 'B', 'A', 'C', 'B', 'A']})

In [ ]:
df_grades.value_counts()

In [ ]:
df_grades['Grade'] = df_grades['Grade'].astype('category')

In [ ]:
df_grades.dtypes

In [ ]:
df_grades['Grade'].value_counts()

In [ ]:
df = pd.DataFrame({
    'City': ['Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi'],
    'Sales': [200, 150, 300, 400, 250]
})

In [ ]:
df

In [ ]:
df.groupby(by="City").sum()
# df.dtypes

In [ ]:
df['City'] = df['City'].astype('category')

In [ ]:
df

In [ ]:
df.groupby(by="City").sum()

In [ ]:
df['expense'] = pd.Series([1000, 1200, 2000, 2400, 3000])

In [ ]:
df

In [ ]:
df.groupby(by="City").sum()

In [ ]:
df = pd.DataFrame({
    'Size': ['M', 'S', 'L', 'M'],
    'Item': ['Shirt', 'Pants', 'Shirt', 'Cap']
})

In [ ]:
df

In [ ]:
df['Size'] = pd.Categorical(df['Size'], categories=['S', 'M', 'L'], ordered=True)

In [ ]:
df

In [ ]:
df.sort_values(by='Size')

In [ ]:
df

In [ ]:
df['Size'] > 'M'

In [ ]:
df[df['Size'] > 'M']

In [ ]:
df['is_large'] = df['Size'] > 'M'

In [ ]:
df

In [ ]:
df[df['Size'] > 'M']

In [ ]:
df[df['Size'] > 'S']

In [ ]:
df[df['Size'] == 'S']

In [ ]:
df

In [ ]:
# df['Size'].cat.rename_categories(['Small', 'Medium', 'Large'])
ndf = df['Size'].cat.rename_categories({'S': 'Small', 'M': 'Medium', 'L': 'Large'})

In [ ]:
ndf

In [ ]:
employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jack', 
             'Karen', 'Liam', 'Mona', 'Nina', 'Oscar'],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male'],
    'Age': [25, 30, 35, 28, 40, 45, 32, 29, 38, 50, 27, 33, 31, 26, 42],
    'Salary': [50000, 60000, 70000, 55000, 80000, 90000, 65000, 58000, 75000, 100000, 
               52000, 67000, 63000, 54000, 85000],
    'Role': ['Engineer', 'Manager', 'Analyst', 'Engineer', 'Director', 'Manager', 'Analyst', 
             'Engineer', 'Director', 'Manager', 'Analyst', 'Engineer', 'Manager', 'Analyst', 'Director']
})

employees

In [ ]:
pd.get_dummies(employees, columns=['Gender'])